/*
  _____ _   ___ ___
 |_   _/_\ | _ ) __|
   | |/ _ \| _ \__ \
   |_/_/ \_\___/___/
*/

.tab-background[selected="true"] {
	background: var(--mff-tab-selected-bg) !important;
}

.tab-background:not[visuallyselected] {
	background: var(--mff-tab-selected-bg) !important;
	opacity: 0.5 !important;
}

/* This positions the tabs under the navaigator container */
#titlebar {
	-moz-box-ordinal-group: 3 !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-left: none !important;
}

.tab-background {
	border: none !important;
}

.tabbrowser-arrowscrollbox {
	margin-inline-start: 4px !important;
	margin-inline-end: 0px !important;
}

.tab-close-button {
 display: none !important;
}

.tab-text {
	font-family: var(--mff-tab-font-family);
	font-weight: var(--mff-tab-font-weight);
	font-size: var(--mff-tab-font-size) !important;
	color: var(--mff-tab-color);
}

/* Hide the favicon for tabs */
hbox.tab-content .tab-icon-image {
	display: none !important;
}

/* Show the favicon for tabs that are pinned */
hbox.tab-content[pinned=true] .tab-icon-image {
	display: initial !important;
}

hbox.tab-content[pinned=true] .tab-text {
	display: none !important;
}

#tabbrowser-tabs {
	--tab-loading-fill: #033433 !important;
}

/* White flash on loading */
#tabbrowser-tabpanels {
	background-color: var(--mff-bg) !important;
}

.tab-label-container:not([textoverflow]) {
  display: flex;
  overflow: hidden;
  justify-content: center;
  width: 50% !important;
  max-width: 50% !important;
  min-width: 50% !important;
}

/* .tab-label-container::after {
  content: "?" !important;
} */

.tab-line {
  display: none !important;
}

.tabbrowser-tab {
  border-radius: var(--mff-tab-border-radius) !important;
  border-width: 0;
  height: var(--mff-tab-height) !important;
  margin-bottom: 4px !important;
  margin-inline-end: 4px !important;
  margin-top: 4px !important;
  max-height: var(--mff-tab-height) !important;
  min-height: var(--mff-tab-height) !important;
}

.tabbrowser-tab[soundplaying="true"] {
  background-color: var(--mff-tab-soundplaying-bg) !important;
}

#tabs-newtab-button {
  list-style-image: url("add.svg") !important;
  opacity: 0.7;
}

.tab-icon-sound {
  display: none !important;
}


