/*
  _____ ___   ___  _    ___   _   ___
|_   _/ _ \ / _ \| |  | _ ) /_\ | _ \
  | || (_) | (_) | |__| _ \/ _ \|   /
  |_| \___/ \___/|____|___/_/  \_\_|_\
*/

.urlbar-icon > image {
	fill: var(--mff-icon-color) !important;
	color: var(--mff-icon-color) !important;
}

.toolbarbutton-text {
	color: var(--mff-icon-color)  !important;
}

.urlbar-icon {
	color: var(--mff-icon-color)  !important;
}

.toolbarbutton-icon {
	filter: drop-shadow(0 0 0.75rem crimson);
}

#urlbar-results {
	font-family: var(--mff-urlbar-results-font-family);
	font-weight: var(--mff-urlbar-results-font-weight);
	font-size: var(--mff-urlbar-results-font-size) !important;
	color: var(--mff-urlbar-results-color) !important;
}

.urlbarView-row[type="bookmark"] > span {
	color: green !important;
}

.urlbarView-row[type="switchtab"] > span {
	color: orange !important;
}

.urlbarView-url, .search-panel-one-offs-container {
	color: var(--mff-urlbar-results-url-color) !important;
	font-family: var(--mff-urlbar-font-family);
	font-weight: var(--mff-urlbar-results-font-weight);
	font-size: var(--mff-urlbar-font-size) !important;
}

.urlbarView-favicon, .urlbarView-type-icon {
	display: none !important;
}

#urlbar-input {
	font-size: var(--mff-urlbar-font-size) !important;
	color: var(--mff-urlbar-color) !important;
	font-family: var(--mff-urlbar-font-family) !important;
	font-weight: var(--mff-urlbar-font-weight)!important;
	text-align: center !important;
}

#tracking-protection-icon-container, #identity-box {
	display: none;
}

#back-button > .toolbarbutton-icon {
	--backbutton-background: transparent !important;
	border: none !important;
}

#back-button {
	list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
	list-style-image: url("right-arrow.svg") !important;
}

toolbar {
	background-image: none !important;
}

#urlbar-background {
	opacity: .98 !important;
}

#navigator-toolbox, toolbaritem {
	border: none !important;
}

#urlbar-background {
	background-color: var(--mff-bg) !important;
	border: none !important;
}

.toolbar-items {
	background-color: var(--mff-bg) !important;
}

#sidebar-search-container {
	background-color: var(--mff-sidebar-bg) !important;
}

box.panel-arrowbox {
	display: none;
}

box.panel-arrowcontent {
	border-radius: 8px !important;
	border: none !important;
}

tab.tabbrowser-tab {
	overflow: hidden;
}

tab.tabbrowser-tab:hover {
	box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

image#star-button {
	display: none;
}

toolbar#nav-bar {
	padding: var(--mff-nav-toolbar-padding) !important;
}

toolbar#nav-bar {
	padding: 4px !important;
}

#urlbar {
	max-width: 70% !important;
	margin: 0 15% !important;
	/* 	position: unset!important; */;
}

#urlbar-input:focus {
	color: var(--mff-urlbar-focused-color) !important;
}


.megabar[breakout-extend="true"]:not([open="true"]) > #urlbar-background {
	box-shadow: none !important;
	background-color: transparent !important;
}

toolbarbutton {
	box-shadow: none !important;
}

