/*
 * Mash up of various styles:
 *   - https://github.com/NiklasGollenstede/user-styles/blob/master/about-pages-dark.css
 *   - https://github.com/mut-ex/minimal-functional-fox
 *
 * Note: vars set in userChrome.css
 */

@import url("userChrome.css");

/* Dark mode every about: page */
@-moz-document url-prefix(about:) {
  html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
    background: var(--mff-bg) !important;
  }
}

/* Hide scrollbar */
:root {
  scrollbar-width: none !important;
}


@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}

